<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h1><%= prop1 %></h1>
        <ul>
            <% prop2.forEach(item => { %>
                <li><%= item %></li>
            <% }) %>
        </ul>
    </body>
</html>