<style></style>

<header>
  <h1>{{appName}}</h1>
  <nav>
    <ul>
      <li> <a href='/'              >Page Home</a>      </li>
      <li> <a href='/page-list'     >Page List</a>      </li>
      <li> <a href='/page-counter'  >Page Counter</a>   </li>
      <li> <a href='/page-counter2' >Page Counter 2</a> </li>
      <li> <a href='/page-counter3' >Page Counter 3</a> </li>
      <li> <a href='/page-form'     >Page Form</a>      </li>
      <li> <a href='/page-api'      >Page Api</a>       </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet />
</main>
