<h2>{{pageName}}</h2>

<div>
    <h3>Data 1</h3>
    <ul>
        <li *ngFor="let item of data1">{{item}}</li>
    </ul>
</div>

<div>
    <h3>Data 2</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ITEM</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data2">
                <td>{{item.id}}</td>
                <td>{{item.item}}</td>
            </tr>
        </tbody>
    </table>
</div>