<h2>{{pageName}}</h2>


<form #form='ngForm'>

  <input  type='text'      name='name'   placeholder='Your Name'  [(ngModel)]='input.name.value'   (ngModelChange)='onName($event)'  /><br />
  <input  type='email'     name='email'  placeholder='user@mail'  [(ngModel)]='input.email.value'  (ngModelChange)='onEmail($event)' /><br />
  <input  type='password'  name='pass'   placeholder='******'     [(ngModel)]='input.pass.value'   (ngModelChange)='onPass($event)'  /><br />

  <button type='submit'>Submit</button>
</form>


<h3>Data</h3>
<code>
    {{ input | json }}
</code>
